
@import "elegant.css";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Space+Mono&display=swap');


/*  The color palette for this color scheme consists of three colors:

    black: #000 for text
    gray: #ddded9 for borders and underscoring
    pink: #eddacc for backgrounds
*/

body {
    background-color: #fff;
}

html {
    font-family: "Playfair Display";
}

h1, h2 {
    letter-spacing: 1.7px;
}

h3 {
    font-size: 1.3rem
}

h1::after {
    content: "";
    border-bottom: 5px solid #ddded9;
    width: 50%;
    /* margin: 0 auto; */
    display: block;
    padding-top: 20px;
}

.reveal ul {
    background-color: #eddacc;
    /* max-width: 40%; */
    padding-bottom: 10px;
    padding-top: 10px;
}

.reveal li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.reveal .hljs {
    font-family: "Space Mono";
}

.inverted {
    filter: invert(100%);
}

.reveal ol {
    font-size: 1.3rem
}