
@import "elegant.css";

body {
    background-color: #000;
    color: #e3e3e3;
}

h1::after {
    content: "";
    border-bottom: 5px solid #e3e3e3;
    width: 50%;
    /* margin: 0 auto; */
    display: block;
    padding-top: 20px;
}